:root {
  --primary-color: #0e0000;
  --secondary-color: #272626;
  --white: #fff;
  --quaternary-color: #4d4c4c;
  --darkBlue: #10033e;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --ingredient: linear-gradient(-45deg, red, green, blue, darkblue, orange);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  width: 100%;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 3rem;
  background-color: #0e0000;
  position: fixed;
  padding: 0.5rem;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: var(--font-family);
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}
li {
  list-style: none;
}
section {
  width: 100%;
  background-color: #f5f5f5;
  padding: 6rem 2rem;
}
h2 {
  max-width: 60%;
  margin: 1.3rem auto;
  padding: 2rem;
  font-family: var(--font-family);
  font-weight: bold;
  text-align: center;
  font-size: 2.3rem;
  color: var(--white);
  background: var(--ingredient);
  margin-bottom: 1rem;
  border-radius: 15px;
  background-size: 400% 400%;
  animation: animate 11s ease infinite;
}
#grid-flex h2 {
  font-family: var(--font-family);
  font-weight: bold;
  text-align: center;
  font-size: 2.3rem;
  color: var(--primary-color);
  margin: 1.3rem 0;
}

.grid-item {
  max-width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--white);
  background-color: var(--darkBlue);
  padding: 0.8rem;
  box-shadow: 0 0 10px blue;
  border-radius: 15px;
}

.grid-item img {
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
}
.grid-item img:hover {
  transform: scale(0.9);
  transition: all 0.5s ease;
  opacity: 0.8;
  cursor: pointer;
  overflow: hidden;
}
p {
  font-family: var(--font-family);
  font-size: 1.2rem;
  color: var(--quaternary-color);
  line-height: 1.5;
  margin-top: 1rem;
}

#grid-floats {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
}

/************************* Responsive Grid Layout ************************/

@media (min-width: 320px) {
  #grid-floats {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-floats :first-child {
    grid-column: span 2;
  }
}
@media (min-width: 768px) {
  #grid-floats {
    grid-template-columns: repeat(6, 1fr);
  }
  #grid-floats :first-child {
    grid-column: span 3;
  }
  #grid-floats :nth-child(2) {
    grid-column: span 3;
  }
  #grid-floats :nth-child(n + 3) {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  #grid-floats {
    grid-template-columns: repeat(8, 1fr);
  }
  #grid-floats :first-child {
    grid-column: span 4;
  }
  #grid-floats :nth-child(2) {
    grid-column: span 2;
  }
}

/************************* Responsive Flex Layout ************************/

#grid-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}
@media (min-width: 320px) {
  #grid-flex .grid-item:first-of-type {
    flex: 2 1 98%;
  }

  #grid-flex .grid-item {
    flex: 1 1 33%;
  }
}
@media (min-width: 768px) {
  #grid-flex .grid-item:first-of-type {
    flex: 3 1 48%;
  }
  #grid-flex .grid-item:nth-child(2) {
    flex: 3 1 48%;
  }
  #grid-flex .grid-item {
    flex: 2 1 31%;
  }
}
@media (min-width: 1024px) {
  #grid-flex .grid-item:first-of-type {
    flex: 2 1 49%;
  }
  #grid-flex .grid-item:nth-child(2) {
    flex: 2 1 23%;
  }
  #grid-flex .grid-item {
    flex: 2 1 23%;
  }
}

/************************* animation ************************/
@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
